header{
    top: 0;
    height: 100px;
    background-color:#3B5998;
}
header h1{
    display: inline-block;
    float: left;
    padding-left: 100px;
}
header table{
    padding-top: 15px;
    padding-right: 200px;
    float: right;
}
main{
    height: 500px;
}
main .left{
    float: left;
    width: 600px;
}
main span{
    font-weight: bold;
}
main .right{
    width: 500px;
    margin-left: 100px;
    float: left;
}
.right form p{
    font-weight: 200;
    color: #222222;
}